<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
xmlns="http://xmlns.jcp.org/xml/ns/javaee" 
xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd" 
id="WebApp_ID" version="4.0">
<!-- 如果 4.0 版本報錯，但 Run Web 沒問題，想讓紅線消失，可以選擇換回 3.0版本 -->
<!-- 或將 XML Validation 取消，4.0 報錯原因不知 -->
<!-- <web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" -->
<!-- xmlns="http://java.sun.com/xml/ns/javaee" -->
<!-- xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" -->
<!-- id="WebApp_ID" version="3.0"> -->
	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
		<welcome-file>index.htm</welcome-file>
		<welcome-file>index.jsp</welcome-file>
		<welcome-file>default.html</welcome-file>
		<welcome-file>default.htm</welcome-file>
		<welcome-file>default.jsp</welcome-file>
	</welcome-file-list>
	

	
</web-app>

